.container {
    height: 126px;
    overflow: hidden;
}
.icon {
    float: left;
    width: 126px;
    height: 126px;
}
.icon span {
    position: relative;
    height: 18px;
    display: inline-block;
    top: 50%;
    margin-top: -9px;
    float: left;
}
.icon.ie {
    float: right;
    color: #008bb8;
}
.icon.ie img {
    float: right;
}
.icon.ie span{
    float: right;
    margin-top: -19px;
    width: 90px;
    height: 38px;
}
.chrome1 {
    color: #77D49B;
}
.chrome2 {
    color: #FF1C1C;
}
.chrome3 {
    color: #FFD500;
}

.firefox {
   color: #ffa500;
}
.opera {
   color: #ed3c3c;
}
.safari {
    color: #646464;
}
.yandex {
    color: #FF1C1C;
}
.icon img {
    top: -20px;
    position: relative;
    float: left;
}