.container {
    height: 126px;
    overflow: hidden;
}
.icon {
    float: left;
    width: 126px;
    height: 126px;
}
.icon.ie {
    float: right;
    color: #008bb8;
}
.icon.ie img {
    float: right;
}
.chrome1 {
    color: #77D49B;
}
.chrome2 {
    color: #FF1C1C;
}
.chrome3 {
    color: #FFD500;
}

.firefox {
   color: #ffa500;
}
.opera {
   color: #ed3c3c;
}
.safari {
    color: #646464;
}
.yandex {
    color: #FF1C1C;
}
.icon img {
    top: -20px;
    position: relative;
    float: left;
}
.wrap {
    display: table;
    width: 100%;
    height: 100%;
}
.wrapping-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle
}

/* Chrome browser  */
@media screen and (-webkit-min-device-pixel-ratio:0) {
.wrap {
    position: relative;
    top: -20px;
}
}